
<!-- About Plate Provisions Web Page html -->

{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}



{% block content %}

    <h1>About Plate Provisions</h1>

    <p> Our vocation at Plate Provisions is to provision all with ideas for delectable food fare, 
        <b>making every plate fun and exciting!</b> </p>

    <p> It all started by 3 college students who assembled around their existential boredom 
        with eating chicken and rice every day. They asked around and found that their buddies were facing similar painpoints
        around cooking fitting into their busy college lifestyles, so they learned how to code and cheffed 
        up a solution. </p>

    <p> Plate Provisions works first by collecting your order preferences: what you are in the mood for, ingredients you have on hand, 
        maximum calories, minimum calories, & total preparation time. It then uses our proprietary secret formula to aggregate the most 
        popular recipes that match your specific desires. If you have no intial preferences and want true impartial plate inspiration
        -fear not!- we'll serve you up the daily chef's choice plates. In any case, you can browse through your resulting plates 
        and select one or more for additional recipe details. Our friends over at Spoonacular will take it from there!  </p>

    <div style="text-align:center ">  
    <h4> So what are you waiting for??</h4>    
    <font size=5px> <a href="/recipe/form">Get Plate Provisions Now!</a></font>
    </div>

{% endblock %}


