{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Plate Provisions</h1>

    <p>Our vocation for Plate Provisions is to provision all with ideas for delectable food fare, 
        making every plate fun and exciting! </p>

    <p>Started by 3 collge students who were bored with eating chicken & rice everyday (? lol)
        ...[insert the rest of our story here]</p>

    <p> ...[insert brief description how the app works- 
        maybe add a screenshot of what a recipe output looks like?]...</p>
        
    <p> so what are you waiting for...
        ...[insert a page navigation link or button? to GET PLATE PROVISIONS]...</p>   

    
    <a href="/recipe/form">Get Plate Provisions Now!</a>

{% endblock %}
