{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<div style="text-align:center ">  
    <h1>Welcome to Plate Provisions!</h1>
    <br>
    <h4>We're stoked you're here.</h4>
    <br>
    <h4> First time with us?</h4>    
    <font size=5px><a href="/about">About Plate Provisions</a> </font>
    <br>
    <br>
    <br>
    <h4> Returning patron?</h4>
    <font size=5px><a href="/recipe/form">Get Plate Provisions Now!</a> </font>
    </div> 
    
{% endblock %}


<!-- <font size="50px"> <a href="/recipe/form">Get Plate Provisions Now!</a></font> -->