
<!-- Recipe Form Page html -->

{% extends "bootstrap_layout.html" %}
{% set active_page = "recipe_form" %}

{% block content %}

<h2>Find Your Plate Provisions</h2>

<p>In the mood for something in particular? Have a few ingredients you need to use?
    Maybe working towards that summer bod?
</p>
<p>Enter your preferences below and we'll serve you up some tasty recipe options 
    that will surely hit the spot :) </p>

<form action="/recipe" method="POST">

    <b><label>What are you in the mood for?</label></b><br>
    <input type="text" name="type_of_meal">
    <br>
    <br>

    <b><label>Ingredients on Hand (ex.pasta, chicken, ...):</label><br></b>
    <input type="text" name="final_ingreds">
    <br>
    <br>

    <b><label>Min. Calories:</label><br></b>
    <input type="text" name="minimum_calories">
    <br>
    <br>

    <b><label>Max. Calories:</label><br></b>
    <input type="text" name="maximum_calories">
    <br>
    <br>

    <b><label>Prep. Time (min):</label><br></b>
    <input type="text" name="max_ready_time">
    <br>
    <br>

    <button>Go Find Me Recipes!</button>
</form>

{% endblock %}
